# Docusaurus
/node_modules
/build
/.docusaurus
.cache-loader
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# LaTeX build artefacts
cv/*.aux
cv/*.bbl
cv/*.bbl-SAVE-ERROR
cv/*.bcf
cv/*.blg
cv/*.fdb_latexmk
cv/*.fls
cv/*.log
cv/*.out
cv/*.run.xml
cv/*.synctex.gz
cv/comment.cut
